.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 500px; /* Default padding for larger screens */
  background-color: #333;
  color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-size: 1.5em;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  gap: 20px;
  transition: max-height 0.3s ease-out;
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.navbar-links a:hover {
  background-color: #555;
}

.navbar-auth {
  display: flex;
  gap: 10px;
}

.navbar-auth a,
.navbar-auth button {
  color: #fff;
  background-color: #4169E1;
  padding: 8px 16px;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navbar-auth a:hover,
.navbar-auth button:hover {
  background-color: #20B2AA;
  color: #FFFFFF; /* Ensure text color stays white */
}

.navbar-auth button {
  background-color: #4169E1;
}

.navbar-toggle {
  display: none;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
  border: none;
  background: none;
}

.navbar-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  border-radius: 2px;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px; /* Adjusted padding for mobile */
  }

  .navbar-brand {
    margin-bottom: 10px;
  }

  .navbar-links {
    display: none; /* Hide by default */
    flex-direction: column;
    width: 100%;
  }

  .navbar-links.open {
    display: flex; /* Show when open */
    max-height: 500px; /* Adjust as necessary */
  }

  .navbar-toggle {
    display: flex;
  }

  .navbar-auth {
    flex-direction: column;
    gap: 5px;
    width: 100%;
  }

  .navbar-links a,
  .navbar-auth a,
  .navbar-auth button {
    padding: 10px 20px;
    margin: 5px 0;
    width: 100%;
    text-align: center;
  }
}
